@model YemekyApp.Models.RecipeModel
@{
    ViewBag.Title = "";
}

@Html.Partial("Partial/__Categories")


<!-- Recipes Items
  ================== -->
<section id="items">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Yeni Eklenen Tarifler</h2>
            </div>
        </div>
        <div class="row">
            <!-- First recipe item -->
            @foreach (var item in Model.Recipes)
            {
                
                <div class="col-lg-4 col-md-6 col-sm-12 wow fadeIn">
                    <div class="recipe-item text-center">
                       <a href="#">
                            <img src="~/Content/images/recipe/@item.Image" alt="bbq-pork-ribs"/>
                        </a>
                        <br/>
                        <h3>@item.RecipeName</h3>
                    </div>
                </div>
            }
        </div>
    </div>
</section>